@{
    ViewData["Title"] = "Cadastrar Alunos";
}

<div class="text-center">
   <h1>Deseja Mesmo apagar <'nome'> </h1>
   <br />

   <a role="button" class="btn btn-success"  asp-controller="Alunos" asp-action="Index">Cancelar</a>
   <a role="button" class="btn btn-danger">Apagar</a>
   </div>