@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome </></h1>
    <p>Você está no site Criado por Mr.Wendell</p>
    <span>Seu Email: @Model.Email</span>
</div>
