@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
   <h1>LISTA DE MATÉRIAS</h1>
   <br />
   <h1 class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-secondary" role="button" asp-controller="Alunos" asp-action="Adicionar">Adicionar Nova Matéria</a>
    </h1>
    <br />

<table class="table caption-top">
  
  
  <thead>
    <tr>
      <th scope="col">CodMatéria</th>
      <th scope="col">Matéria</th>
      <th scope="col">CargaHorária</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        
      <td>
          <div class="btn-group" role="group" aria-label="Basic example">
                <a role="button" class="btn btn-success" asp-controller="Alunos" asp-action="Alter">Editar</a>
                <a role="button" class="btn btn-danger" asp-controller="Alunos" asp-action="Delete" >Remover</a>
                
           </div>

      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
     
       <td>



          <div class="btn-group" role="group" aria-label="Basic example">
                <a role="button" class="btn btn-success" asp-controller="Alunos" asp-action="Alter">Editar</a>
                <a role="button" class="btn btn-danger" asp-controller="Alunos" asp-action="Delete" >Remover</a>
                
           </div>

      </td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
  

      <td>

          <div class="btn-group" role="group" aria-label="Basic example">
                <a role="button" class="btn btn-success" asp-controller="Alunos" asp-action="Alter">Editar</a>
                <a role="button" class="btn btn-danger" asp-controller="Alunos" asp-action="Delete" >Remover</a>
                
           </div>

      </td>

    </tr>


  </tbody>
</table>

</div>